body {
  .jumbotron { 
    padding: 2rem 1rem; 

    h1 { 
      text-align: center;
      width: 100%; 
    }
  }

  main {
    form {
      button {
        cursor: not-allowed;
      }
    }
  }

  footer { 
    border-top: solid 1px #dee2e6; 
    bottom: 0; 
    position: absolute; 
    margin-bottom: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    align-items: center; 
    width: 100%; 
  }  
}

/* ****************************************************** */
/* Validación */
/* ****************************************************** */
form input.ng-dirty.ng-invalid,
form input.ng-touched.ng-invalid {
    border-left: solid 5px #a94442;
}

form input.ng-dirty.ng-valid,
form input.ng-touched.ng-valid {
    border-left: solid 5px #3c763d;
}

.form-control.ng-dirty.ng-invalid,
.form-control.ng-touched.ng-invalid {
    border-left: solid 5px #a94442;
}

.form-control.ng-dirty.ng-valid,
.form-control.ng-touched.ng-valid {
    border-left: solid 5px #3c763d;
}
/* ****************************************************** */